* {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
     border: solid 3px black;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(13, 13, 14);
    height: 70px;
}

.logo{
    margin-top: 6px;
    margin-bottom: 6px;
    height: 58px;
    width: 120px;
    
}


.nav-left{
display: flex;
justify-content: space-between;
justify-content: flex-end;
color: rgb(219, 218, 218);
}
#icon2{
margin-left: 90px;
margin-right: 90px;
}


.search-box {
    background: #2f3031;
    
    height: 40px;
    width: 550px;
    border-radius: 10px;
    padding: 10px;
   }
   
   .search-btn {
    
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3031;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration:none;
   }
   
   
   
   .search-txt {
    width: 490px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    font-weight: bold;
   }